body {
    color: #40514E;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}
h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;  
}
p {
    line-height: 2;
}
hr {
    border: dotted #EAF6F6 6px;    
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin-top: 240px;
}
a {
    color: #0b7a7e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color:#EAF6F6;
}
.top-container {
    background-color: #EAF9F5;
    padding-top: 120px;
    position: relative; 
}
.middle-container {
    margin: 150px 0 0 ;
}
.intro {
    width: 30%;
    margin: auto;
}
.bottom-cloud {
    bottom: 300px;
    left: 100px;
    position: absolute;
    height: 150px;
    width: 150px;
}
.top-cloud {
    position: absolute;
    right: 200px;
    top: 50px;
    height: 200px;
    width: 200px;
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}
.spaghetti-img {
    width: 25%;
    float: right;
    margin-left: 30px;
    margin-right: 70px;
    margin-top: -30px;
    
}
.myskills {
    margin-bottom: -150px;
}
.contacts {
    margin-bottom: -150px;
}
.contact-msg{
    width: 40%;
    margin: 40px auto 60px;
}
.bottom-container{
    background-color: #66BFBF;
    margin: 0;
    padding: 50px 0 20px;
}
.BUTTON_OPL {
    background: #3DCBF6;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #EAF9F5;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    padding: 20px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
 }
 
.BUTTON_OPL:hover {
    border: solid #337FED 1px;
    background: #0EEBD6;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-decoration: none;
 }
 
 .creator {
    padding: 20px 0;
    color: #EAF6F6;
    font-size: 0.75rem;
 }